<h2 style="text-align: center;"><%=@listing.title%></h2>

<h4 style="text-align: center;"><%=@listing.description%></h4>
<br>
 <div class="center">
 <br>
     
<%if @listing.items.empty?%>
<h3>List is empty, add an item!</h3>
<%else%>

      <table style="width:100%">
      <tr>
    <th>Item</th>
    <th>Category</th>
    <th>Price</th>
    <%if @listing.user_id == session[:user_id]%><th>Sold?</th><th>Edit</th><%end%>
  </tr>
      <%@listing.items.each do |i|%>
      
        <tr><td><%=i.name%></td>
             <td><%=i.category%></td>
            <td>$<%=sprintf("%.2f", i.price)%></td>
            <%if @listing.user_id == session[:user_id]%>
            <td><form method="POST" action="/items/<%=i.id%>?_method=DELETE">
    <button type="submit">Sold!</button>
</form></td><td><a href="/items/<%=i.id%>/edit"><button>Edit</button></a></td>
            <%end%>
            </tr>

      <%end%>

      </table>
      <%end%>
<BR>

      <%if @listing.user_id == session[:user_id]%>
      <a href="/items/new"><button class="button button1">Add Item</button></a>
      <a href="/listings/<%=@listing.id%>/edit"><button class="button button2">Edit Listing</button></a>
      <form method="POST" action="/listings/<%= @listing.id %>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <button type="submit" class="button button1">Delete Listing</button>
    </form>
    <%else%>
    
     <a href = "mailto: <%= @listing.user.email %>"><button class="button button1">Contact Seller!</button></a>
      <%end%>

    <br>
    <br>
    <p style="text-align: right;">Created by <%=User.all.find_by_id(@listing.user_id).username%> on <%=@listing.created_at.strftime("%m/%d/%y")%>.</p>
    </div>
