<h2 align='center'>ALL ITEMS</h2>
 
 <table style="width:100%">
      <tr>
    <th>Item</th>
    <th>Category</th>
    <th>Price</th>
    <th>Listing</th>
    <th>Not Sold?</th>
  </tr>
      <%@items.order(name: :asc).each do |i|%>
        
        <tr><td><%=i.name%></td>
             <td><%=i.category%></td>
            <td>$<%=sprintf("%.2f", i.price)%></td>
            <td><a href="/listings/<%=i.listing_id%>"><%=Listing.all.find_by_id(i.listing_id).title%></a></td>
            <td>
            <%if i.sold == true%>
            <form method="POST" action="/items/<%=i.id%>/sold?_method=PATCH">
                <button type="submit">Not Sold?</button></form></td>
                <%end%>
            <%end%>
            </tr>

      </table>
      